container {
    display: flex;
    justify-content:  center;
    align-items: center;
    min-height: 100vh;
  };

  content {
    text-align: center;
  };

  heading {
    font-size: 24px;
    margin-bottom: 20px;
  };

  formWrapper {
    max-width: 400px;
    margin: 0 auto;
  };
