container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
};

title {
    max-width: 400px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
};